@import "../styles";

.fill {
    flex: 1 1 auto;
}

:host {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#content {
    @extend #app-component;
    max-height: 93vh;
    height: 93vh;
}

#footer {
    display: flex;
    background: lightgrey;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-height: 2vh;
    height: 2vh;
}

#header {
    max-height: 5vh;
    height: 5vh;
}
