<div class="table-container mat-elevation-z8">

    <cdk-table [dataSource]="tableData">

        <ng-container *ngFor="let column of tableDefinition.columns" cdkColumnDef="{{column.name}}">
            <cdk-header-cell *cdkHeaderCellDef class="header-cell">{{column.name}}</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="cell">{{row[column.name]}}</cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="visibleColumns" class="header-row"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: visibleColumns;" class="row"
                 (click)="tableDefinition.rowClickHandler(row.id)"></cdk-row>

    </cdk-table>
</div>
