@import "../../../styles";

:host {
    @extend #flex-box;
}

.table-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 5px 10px 0;
    min-width: 300px;
}

.table {
    flex: 1 1 auto;
    overflow: auto;
}

.row {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    height: 32px;
    padding: 0 8px;
}

.header-row {
    @extend .row;
    position: sticky;
    z-index: 100;
    top: 0;
    background: lightgray;
}

.cell, .header-cell {
    flex: 1;
}

.header-cell {
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
}

.cell {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

cdk-table {
    overflow: auto;
}
